.ui.inverted.button,
.ui.inverted.buy.button,
.ui.inverted.sell.button {
  box-shadow: 0 0 0 1px !important;
  font-weight: 100 !important;
}

.modal .header {
  font-size: 2em !important;
}

.success.modal .message {
  font-size: 1.5em !important;
}

.light-text,
.light-text * {
  font-weight: 100 !important;
}

.regular-text,
.regular-text * {
  font-weight: 400 !important;
}

.bold-text,
.bold-text * {
  font-weight: 700 !important;
}

.light-text th,
.light-text .paginate_button {
  font-weight: 400 !important;
}

.padding-right {
  padding-right: 15px;
}

.dt-center {
  text-align: center !important;
}

.title {
  font-size: 25px;
}

tr .fluid.button {
  box-sizing: border-box;
}

.price-cell {
  text-align: right !important;
}

.ui.inverted.breadcrumb i,
.ui.inverted.breadcrumb a {
  color: rgba(255, 255, 255, 0.3);
}

.ui.inverted.breadcrumb a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.ui.secondary.inverted.pointing.menu {
  border: none !important;
}

.ui.secondary.inverted.pointing.menu .ui.inverted.button {
  margin-left: 0.5em;
}

.inverted .ui.dataTables_filter.input {
  color: white;
}

.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #1B1C1D !important;
}

.main {
  flex: 1;
}

.medium.sub.header {
  font-size: 0.5em !important;
}

.padding-top {
  padding-top: 2em !important;
}

.hidden.menu {
  display: none;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.dataTable tbody tr {
  cursor: pointer;
}

.td-full {
  padding: 0 em !important;
}

.span-full-green {
  box-shadow: none !important;
  border-radius: 0 rem !important;
  color: white !important;
  background-color: #21BA45 !important;
} 

.span-full-red {
  box-shadow: none !important;
  border-radius: 0 rem !important;
  color: white !important;
  background-color: #DB2828 !important;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
}
