<div class="ui small success coupled modal">
  <div class="regular-text header">
    Success!
  </div>
  <div class="content">
    <p class="message"></p>
  </div>
  <div class="actions">
    <div class="ui basic positive button">
      OK
    </div>
  </div>
</div>

<div class="ui small buy coupled modal">
  <div class="regular-text header">
    Buy <span class="stock-name"></span> (<span class="stock-symbol"></span>) Stock
  </div>
  <div class="content">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          <form class="ui large buy form" action="/dashboard/buy" method="POST">
            <div class="field">
              <label class="regular-text">Number of stocks to purchase</label>
              <input type="number" class="ui fluid input" name="numStocks" value="0">
            </div>

            <input type="hidden" name="companyId">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          <div class="ui statistics">
            <div class="ui statistic">
              <div class="value">
                <span class="stock-owned">0</span>
              </div>
              <div class="label">
                Stocks Currently Owned
              </div>
            </div>
            <div class="ui statistic">
              <div class="value">
                $<span class="stock-price">115</span>
              </div>
              <div class="label">
                Price Per Stock
              </div>
            </div>
          </div>
        </div>
        <div class="six wide right aligned column">
          <div class="ui regular-text statistic">
            <div class="value">
              $<span class="total">0</span>
            </div>
            <div class="label">
              Total Cost of Purchase
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive left labeled icon button">
      Purchase
      <i class="checkmark icon"></i>
    </div>
    <div class="ui black deny left labeled icon button">
      Cancel
      <i class="remove icon"></i>
    </div>
  </div>
</div>

<div class="ui small sell coupled modal">
  <div class="regular-text header">
    Sell <span class="stock-name"></span> (<span class="stock-symbol"></span>) Stock
  </div>
  <div class="content">
    <div class="ui grid">
      <div class="row">
        <div class="column">
          <form class="ui large sell form" action="/dashboard/sell" method="POST">
            <div class="field">
              <label class="regular-text">Number of stocks to sell</label>
              <input type="number" class="ui fluid input" name="numStocks" value="0">
            </div>

            <input type="hidden" name="companyId">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          <div class="ui statistics">
            <div class="ui statistic">
              <div class="value">
                <span class="stock-owned">0</span>
              </div>
              <div class="label">
                Stocks Currently Owned
              </div>
            </div>
            <div class="ui statistic">
              <div class="value">
                $<span class="stock-price">115</span>
              </div>
              <div class="label">
                Price Per Stock
              </div>
            </div>
          </div>
        </div>
        <div class="six wide right aligned column">
          <div class="ui regular-text statistic">
            <div class="value">
              $<span class="total">0</span>
            </div>
            <div class="label">
              Total Profit From Sale
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive left labeled icon button">
      Sell
      <i class="checkmark icon"></i>
    </div>
    <div class="ui black deny left labeled icon button">
      Cancel
      <i class="remove icon"></i>
    </div>
  </div>
</div>
