<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href="/" class="active item">Home</a>
  <a href="login" class="item">Login</a>
  <a href="signup" class="item">Signup</a>
</div>
