<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" class="active item">Home</a>
    <div class="right item">
      <a href="/login" class="ui inverted button">Log in</a>
      <a href="/signup" class="ui inverted button">Sign Up</a>
    </div>
  </div>
</div>
