<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" class="ui big header item">STOCK PILE</a>
    <div class="right item">
      <% if (user) { %>
        <span class="padding-right">Welcome back <b><%= user.firstName %></b></span>
        <a href="/dashboard" class="ui inverted item button">PORTFOLIO</a>
        <a href="/logout" class="ui inverted item button">LOG OUT</a>
      <% } else { %>
        <a href="/login" class="ui inverted item button">LOG IN</a>
        <a href="/signup" class="ui inverted item button">SIGN UP</a>
      <% } %>
    </div>
  </div>
</div>
